@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Smooch+Sans:wght@500&display=swap');


body{
    font-family: 'Alumni Sans Pinstripe', sans-serif;    
    font-size: 1.35rem;
    background-color: #1B1F24;
    color: white;
}

.main-img{
    position: absolute;    
}

.badge-img{    
    width: 35%;        
    position: absolute;    
    left: 55%;   
    top: 5%; 
    animation: rotate 12s infinite linear; 
}

.wish{
    padding: 10%;
    padding-top: 90%;
    padding-bottom: 15%;
    

    & h1{
        font-family: 'Smooch Sans', sans-serif;        
        margin: 10% auto;
    }
}

.galery{
    background-color: #1B1F24;
    padding: 10%;
    padding-top: 0;

    & img{
        width: 100%;       
    }
}

.random-advice{
    font-family: 'Smooch Sans', sans-serif;

    & button{
        background-color: azure;
        color: #1B1F24;
        border: none;
        font-weight: bold;        
        margin: 10% 20%;
        padding: 3%;
        border-radius: 5px;

    }

    blockquote{
        font-family: 'Alumni Sans Pinstripe', sans-serif;    
        font-size: 2rem;        
    }
}

.fade-in{
    animation: fade-in 1.5s linear;     
}

.js-scroll{
    opacity: 0;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}



:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
  }
  

.neon-text{
    color: white;
    animation: neon 3s infinite;
}
  
@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
        0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
        0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
        0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
        0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}